VITE_SUPABASE_URL=buazeamlpvebxbxghrml
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1YXplYW1scHZlYnhieGdocm1sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk3NzgwODAsImV4cCI6MjA4NTM1NDA4MH0.LIsaDzYSl7zlADBoAcTz7beXEiFisGvidJ8ASMWaiN0
GEMINI_API_KEY=
